__pycache__/run.cpython-36.pyc
msr/.DS_Store
msr/__pycache__/__init__.cpython-36.pyc
msr/__pycache__/forms.cpython-36.pyc
msr/__pycache__/models.cpython-36.pyc
msr/__pycache__/routes.cpython-36.pyc
.DS_Store
msr/__pycache__/dao.cpython-36.pyc
msr/__pycache__/manipula_arquivos.cpython-36.pyc
msr/__pycache__/handler_threads.cpython-36.pyc
