{% extends 'base.html' %}
{% block title %}
  MSR Page
{% endblock %}

{% block content %}

<script type="text/javascript">
function loadResponseProcess()
{
var responsedata;
$.ajax(
{
    url: '/processar',
    async   : true,
    type    : "GET",
    dataType: 'json',
    error   : function(data)
    {
        console.log('error occured when trying to load processing repositories');
    },
    success : function(data) 
    {
        console.log('Processing repositories from queue loaded successfully.');

        //return data;    //this line ruins all, change this to below line
        responsedata=data // asssigning first
    }
});

return responsedata; //returning later
}
</script> 


      <table class="table table-hover table">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Link</th>
                <th scope="col">Created</th>
                <th scope="col">Analysed</th>
                <th scope="col">Analysis</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for repository in repositories %}
                <tr>
                    <td>{{ repository.id }}</td>
                    <td>{{ repository.name }}</td>
                    <td>{{ repository.link }}</td>
                    <td>{{ repository.creation_date }}</td>
                    <td>{{ repository.analysis_date }}</td>
                    <td>{{ repository.analysed }}</td>
                    <td>
                      <a href="{{ url_for('visualizar_analise_repositorio', id=repository.id) }}">Details...</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <input id="clickMe" type="button" value="Start analysis of repositories" onclick="loadResponseProcess()"/>

{% endblock %}